<div uk-slider>

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

    <ul class="uk-slider-items uk-child-width-1-1">
      <li>
        <img
          src="https://m.media-amazon.com/images/S/sonata-images-prod/PV_IN_HelloCharlieREvisedV2/5886c981-0907-44a1-877a-f579a495eeb3._UR3000,600_SX1500_FMjpg_.jpeg"
          alt="">
      </li>
      <li>
        <img
          src="https://m.media-amazon.com/images/S/sonata-images-prod/PV_IN_MirzapurS2DubsHiTaTe/14a26775-fa0a-40d2-8392-391f01408ae6._UR3000,600_SX1500_FMjpg_.jpg"
          alt="">
      </li>
      <li>
        <img
          src="https://m.media-amazon.com/images/S/sonata-images-prod/PV_IN_Preist/ff5a896a-ca4c-4a59-9ddc-cd73fad6ff18._UR3000,600_SX1500_FMjpg_.jpeg"
          alt="">
      </li>
      <li>
        <img
          src="https://m.media-amazon.com/images/S/sonata-images-prod/PV_IN_YuvarathnaaMultilanguage/c9919e75-c5fd-4bac-8c5b-ac1b755fccf7._UR3000,600_SX1500_FMjpg_.jpeg"
          alt="">
      </li>


      <li>
        <img
          src="https://m.media-amazon.com/images/G/01/digital/video/sonata/Hero_PV_IN_ComicstaanS2Launch_v2/8183595b-dcdf-48dc-933d-2d651213cca3._UR3000,600_SX1500_FMjpg_.jpg"
          alt="">
      </li>
      <li>
        <img
          src="https://m.media-amazon.com/images/G/01/digital/video/sonata/PV_IN_TheBigBangTheory/e365228b-6685-45c5-84e0-a0bc77547455._UR3000,600_SX1500_FMjpg_.jpg"
          alt="">
      </li>
      <li>
        <img
          src="https://m.media-amazon.com/images/G/01/digital/video/sonata/PV_IN_PataalLokDubbedTamilnTelugu/a88c93c6-64cd-4ab5-b3ff-63f054705e71._UR3000,600_SX1500_FMjpg_.jpg"
          alt="">
      </li>
      <li>
        <img
          src="https://m.media-amazon.com/images/G/01/digital/video/sonata/Hero_IN_Mr_Bean/d068b354-b91a-40a0-b926-04217223f534._UR3000,600_SX1500_FMjpg_.jpg"
          alt="">
      </li>
      <li>
        <img
          src="https://m.media-amazon.com/images/S/sonata-images-prod/PV_IN_67thNationalAwardsSH/5ef758ff-46f4-429e-abcb-43ff8e105a8c._UR3000,600_SX1500_FMjpg_.jpg"
          alt="">
      </li>
      <li>
        <img
          src="https://m.media-amazon.com/images/G/01/digital/video/sonata/Hero_IN_Tumbbad/5f7bab33-689c-4593-82bf-e2b951104cdf._UR3000,600_SX1500_FMjpg_.jpg"
          alt="">
      </li>
      <li>
        <img
          src="https://m.media-amazon.com/images/G/01/digital/video/sonata/Hero_IN_Padmavaat_updated_V2/177bac53-3e04-43a6-a7b6-ce88e65e4fe3._UR3000,600_SX1500_FMjpg_.jpg"
          alt="">
      </li>
      <li>
        <img
          src="https://m.media-amazon.com/images/S/sonata-images-prod/PV_IN_ParikshaPeCharchaWatchNoqV4/793ffe71-1422-40e0-92cb-8c4fe6abf34a._UR3000,600_SX1500_FMjpg_.jpeg"
          alt="">
      </li>
    </ul>

    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
  </div>
  <!-- <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul> -->
</div>
